# File generati da Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
.DS_Store
*.ipynb_checkpoints

# File di ambiente
.env
.venv
env/
venv/

# File di build
build/
dist/
*.egg-info/

# File di log
*.log

# File temporanei
*.tmp
*.temp 